html {
	height: 100%;
	width: 100%;
}
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.flash-messages {
	margin-top: 30px;
}

.card-header {
	background: transparent;
}

// import scss file
@import "bootswatch/cyborg/variables";
@import "bootstrap";
@import "bootswatch/cyborg/bootswatch";
